{% extends 'calories_app/base.html' %}
{% block content %}

<h1>Hello, {{ user.username }}</h1>
<p><a href="{% url 'calories_app:logout' %}">Logout</a></p>
<p><a href="{% url 'calories_app:add_food' %}">Add new food</a></p>
<p><a href="{% url 'calories_app:add_food_manual' %}">Add new food (manually)</a></p>

{% if latest_food_list %}
    <p>Latest registered foods:</p>
    <ul>
    {% for food in latest_food_list %}
        <li>{{ food.name }} : {{ food.register_date }} ({{ food.energy }} kcal)</li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}